
    <!-- index.html.erb -->
    <!-- Copyright (C) 2010  Giménez, Christian N. -->

    <!-- This program is free software: you can redistribute it and/or modify -->
    <!-- it under the terms of the GNU General Public License as published by -->
    <!-- the Free Software Foundation, either version 3 of the License, or -->
    <!-- (at your option) any later version. -->

    <!-- This program is distributed in the hope that it will be useful, -->
    <!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
    <!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
    <!-- GNU General Public License for more details. -->

    <!-- You should have received a copy of the GNU General Public License -->
    <!-- along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

    <!-- Jueves 07 De Octubre Del 2010     -->


<h1 align="center">Concejo Deliberante de la Ciudad de Allen</h1>
<table border="0" width="100%">
  <tr>
    <td align="left">
      <%= link_to "Página principal", {:controller => "pagina_principal"}, :target => "main" %>
    </td>
    <td align="center">      
      <% if not @usuario.nil? %>
        <%= @usuario.nombre %>
      <% end %>
    </td>
    <td align="right">
    <% if (not @usuario.nil?) and (@usuario.nombre != "consultor") %>
      <%= link_to "Salir", {:controller => "logout"}, :target => "_top" %>
    <% else %>
      <%= link_to 'Login', {:controller => "logins", :action => "new"}, :target => "_top" %>
    <% end %>
    </td>
  </tr>
</table>
