<h1>Editing Descriptor Particular</h1>

<%= render 'form', descriptor_particular: @descriptor_particular %>

<%= link_to 'Show', @descriptor_particular %> |
<%= link_to 'Back', descriptor_particulars_path %>
