
    <!-- index.html.erb -->
    <!-- Copyright (C) 2011  Giménez, Christian N. -->

    <!-- This program is free software: you can redistribute it and/or modify -->
    <!-- it under the terms of the GNU General Public License as published by -->
    <!-- the Free Software Foundation, either version 3 of the License, or -->
    <!-- (at your option) any later version. -->

    <!-- This program is distributed in the hope that it will be useful, -->
    <!-- but WITHOUT ANY WARRANTY; without even the implied warranty of -->
    <!-- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the -->
    <!-- GNU General Public License for more details. -->

    <!-- You should have received a copy of the GNU General Public License -->
    <!-- along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

    <!-- Martes 19 De Abril Del 2011     -->


<h1> Cambiar el Estado de la Norma </h1>
<p> Usted seleccionó la <b> norma <%=  @norma.numero %></b>. </p>

<h2> Cambiar el Estado </h2>
<p>
  El estado actual de la norma es: <b><%= @estado_actual.nombre%>
</b></p>
<p>
  Si usted desea cambiar el estado de la norma y <b>no</b> planificar un cambio para un futuro,
  debe hacer clic en la siguiente opción:
</p>
<p>
<%= link_to 'Cambiar el estado de esta norma', :controller => "cambio_estados" , :action => "cambio_inmediato", :id => @norma %>
</p>

<h2> Planificar un Cambio de Estado </h2>
<p>
  Para que FreeDigesto le advierta de un cambio de estado necesario en un futuro, debe usted
  incorporar un Cambio de Estado.
</p>
<p>
<%= link_to 'Planificar un cambio de estado', :controller => "cambio_estados", :action => "nuevo_plan", :id => @norma%>
</p>

